In [1]:
import pandas as pd
import numpy as np
db = pd.read_excel('Consolidado.xlsx')

In [2]:
db.head(5)

,Paises,Ano,Expectativa de vida no nascimento,Anos esperados de escolaridade,Média de anos de escolaridade,Renda nacional bruta (RNB) per capita (PPP US$),Índice de expectativa de vida,Index de Educação,Indice de RNB,IDH (1),IDH (Calculado),IDH(3),Classificação IDH,CPI (Corruption Index)
0,Norway,2018,82.271,18.0608,12.5668,68058.6,0.958015,0.951106,0.98533,0.953688,0.964704,0.953688,--,--
1,Switzerland,2018,83.63,16.2088,13.3808,59374.7,0.978923,0.911983,0.96471,0.945936,0.951431,0.945936,--,--
2,Ireland,2018,82.103,18.7933,12.5263,55659.7,0.955431,0.974395,0.95495,0.942473,0.961549,0.942473,--,--
3,Germany,2018,81.18,17.0964,14.1321,46945.9,0.941231,0.962439,0.929232,0.938785,0.944201,0.938785,--,--
4,China,2018,84.687,16.5122,12.0381,60220.8,0.995185,0.8848,0.966848,0.938809,0.947769,0.938809,--,--

In [4]:
lista = []
for x in db.columns:
    if db[x].dtype == 'object':
        lista.append(x)
lista

['Paises',
 'Expectativa de vida no nascimento',
 'Anos esperados de escolaridade',
 'Média de anos de escolaridade',
 'Renda nacional bruta (RNB) per capita (PPP US$)',
 'Índice de expectativa de vida',
 'Index de Educação',
 'Indice de RNB',
 'IDH (1)',
 'IDH (Calculado)',
 'IDH(3)',
 'Classificação IDH',
 'CPI (Corruption Index)']

In [5]:
lista.remove('Paises')

In [6]:
lista

['Expectativa de vida no nascimento',
 'Anos esperados de escolaridade',
 'Média de anos de escolaridade',
 'Renda nacional bruta (RNB) per capita (PPP US$)',
 'Índice de expectativa de vida',
 'Index de Educação',
 'Indice de RNB',
 'IDH (1)',
 'IDH (Calculado)',
 'IDH(3)',
 'Classificação IDH',
 'CPI (Corruption Index)']

In [7]:
db = db.replace({'--':np.NaN})

In [8]:
for x in db.columns:
    if x in lista:
        db[x].astype(float)

In [9]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5481 entries, 0 to 5480
Data columns (total 14 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Paises                                           5481 non-null   object
 1   Ano                                              5481 non-null   int64
 2   Expectativa de vida no nascimento                5397 non-null   float64
 3   Anos esperados de escolaridade                   5202 non-null   float64
 4   Média de anos de escolaridade                    4930 non-null   float64
 5   Renda nacional bruta (RNB) per capita (PPP US$)  5031 non-null   float64
 6   Índice de expectativa de vida                    5397 non-null   float64
 7   Index de Educação                                5202 non-null   float64
 8   Indice de RNB                                    5031 non-null   float64
 9   IDH (1)                                          1130 non-null   float64
 10  IDH (Calculado)                                  4848 non-null   float64
 11  IDH(3)                                           4873 non-null   float64
 12  Classificação IDH                                0 non-null      float64
 13  CPI (Corruption Index)                           0 non-null      float64
dtypes: float64(12), int64(1), object(1)
memory usage: 599.6+ KB

In [25]:
lista_agg = []
for x in db.columns:
    if db[x].dtype == float:
        lista_agg.append(x)
lista

['Expectativa de vida no nascimento',
 'Anos esperados de escolaridade',
 'Média de anos de escolaridade',
 'Renda nacional bruta (RNB) per capita (PPP US$)',
 'Índice de expectativa de vida',
 'Index de Educação',
 'Indice de RNB',
 'IDH (1)',
 'IDH (Calculado)',
 'IDH(3)']

In [27]:
db_grouped = pd.DataFrame(db.groupby(['Paises'])[lista].mean())

In [28]:
db_grouped

,Expectativa de vida no nascimento,Anos esperados de escolaridade,Média de anos de escolaridade,Renda nacional bruta (RNB) per capita (PPP US$),Índice de expectativa de vida,Index de Educação,Indice de RNB,IDH (1),IDH (Calculado),IDH(3)
Paises,,,,,,,,,,
Afghanistan,57.822759,7.187549,2.614483,1914.566570,0.581889,0.312209,0.444894,0.486645,0.501306,0.451351
Albania,74.960345,12.114828,8.916711,6427.924115,0.845544,0.651514,0.596142,0.779499,0.688563,0.699221
Algeria,72.234345,12.073082,6.271260,9894.808100,0.803605,0.576638,0.688688,0.749738,0.682376,0.674999
Andorra,79.868241,11.606905,9.676603,48640.894180,0.921050,0.735417,0.934589,0.847827,0.863772,0.827462
Angola,51.049483,7.047490,4.671273,4105.334393,0.477684,0.479577,0.534947,0.557091,0.489895,0.495674
...,...,...,...,...,...,...,...,...,...,...
Venezuela,72.217241,12.283313,7.465980,12549.986866,0.803342,0.616832,0.726822,0.749925,0.695718,0.708923
Vietnam,73.536724,10.896287,6.228966,3134.491926,0.823642,0.536236,0.493916,0.678849,0.600349,0.601954
Yemen,62.484759,8.274634,1.775517,1433.295869,0.653612,0.325141,0.402195,0.483474,0.475823,0.455818
Zambia,51.054345,10.509001,6.209799,2224.892642,0.477759,0.522794,0.458168,0.570102,0.484595,0.484912
Zimbabwe,50.896966,9.894865,6.695595,1528.312830,0.475338,0.515818,0.402469,0.534690,0.460532,0.473348

In [41]:
print(
      db.loc[db['Paises'] == 'Afghanistan']['Expectativa de vida no nascimento'].mean(),'\n',
      db.loc[db['Paises'] == 'Afghanistan']['Anos esperados de escolaridade'].mean(),'\n',
      db.loc[db['Paises'] == 'Afghanistan']['Média de anos de escolaridade'].mean(),'\n',
      db.loc[db['Paises'] == 'Afghanistan']['Renda nacional bruta (RNB) per capita (PPP US$)'].mean(),'\n',
      db.loc[db['Paises'] == 'Afghanistan']['Índice de expectativa de vida'].mean(),'\n',
      db.loc[db['Paises'] == 'Afghanistan']['Index de Educação'].mean(),'\n',
      db.loc[db['Paises'] == 'Afghanistan']['Indice de RNB'].mean(),'\n',
      db.loc[db['Paises'] == 'Afghanistan']['IDH (1)'].mean(),'\n',
      db.loc[db['Paises'] == 'Afghanistan']['IDH (Calculado)'].mean(),'\n',
      db.loc[db['Paises'] == 'Afghanistan']['IDH(3)'].mean()
     )

57.822758620689655
 7.187548965517241
 2.6144827586206896
 1914.5665705
 0.5818885941644562
 0.31220948659003833
 0.4448935161297748
 0.4866447156471625
 0.5013063248260499
 0.4513505601647932

In [42]:
print(
      db.loc[db['Paises'] == 'Venezuela']['Expectativa de vida no nascimento'].mean(),'\n',
      db.loc[db['Paises'] == 'Venezuela']['Anos esperados de escolaridade'].mean(),'\n',
      db.loc[db['Paises'] == 'Venezuela']['Média de anos de escolaridade'].mean(),'\n',
      db.loc[db['Paises'] == 'Venezuela']['Renda nacional bruta (RNB) per capita (PPP US$)'].mean(),'\n',
      db.loc[db['Paises'] == 'Venezuela']['Índice de expectativa de vida'].mean(),'\n',
      db.loc[db['Paises'] == 'Venezuela']['Index de Educação'].mean(),'\n',
      db.loc[db['Paises'] == 'Venezuela']['Indice de RNB'].mean(),'\n',
      db.loc[db['Paises'] == 'Venezuela']['IDH (1)'].mean(),'\n',
      db.loc[db['Paises'] == 'Venezuela']['IDH (Calculado)'].mean(),'\n',
      db.loc[db['Paises'] == 'Venezuela']['IDH(3)'].mean()
     )

72.21724137931035
 12.283313103448279
 7.465980203793104
 12549.986865695651
 0.8033421750663131
 0.6168321091091954
 0.7268218413509517
 0.7499252524660824
 0.6957176716719482
 0.7089232223880871